<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>728858644609-jk8ld0p41g9kqjf5dre2h090rjui2chr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.728858644609-jk8ld0p41g9kqjf5dre2h090rjui2chr</string>
	<key>API_KEY</key>
	<string>AIzaSyAGdorIpZHaTUOBh7L0el2fnIfGjKBSuRg</string>
	<key>GCM_SENDER_ID</key>
	<string>728858644609</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>victor.dev.ukraine</string>
	<key>PROJECT_ID</key>
	<string>forukraine-fcb9b</string>
	<key>STORAGE_BUCKET</key>
	<string>forukraine-fcb9b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:728858644609:ios:18700bf8a329446c3ffd80</string>
</dict>
</plist>